<!DOCTYPE html>

<html>

<head>
    <title>County Bookstore</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <h1>Wake County Bookstore</h1>

    <input type="text" id="searchInput" onkeyup="search()" placeholder="Search for titles..">

    <table id="books_table">

        <thead>
            <tr>
                <th onclick="sortTable(0)">Title</th>
                <th onclick="sortTable(1)">Author</th>
                <th onclick="sortTable(2)">Genre(s)</th>
                <th onclick="sortTable(3)">Page Count</th>
                <th onclick="sortTable(4)">Published</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <script>
                (function build_table() {
                    // Build the table from the csv_data in a JSON format
                    var data = {{ csv_data | tojson }};

                    // Loop every object in the data table
                    for(i = 0; data.length > i; i++) {

                        // Add content for a row of information to var x
                        x = "<tr>";
                        x += "<td style='text-align: center;'>" + data[i]["title"] + " " + data[i]["subtitle"] + "</td>";
                        x += "<td>" + data[i]["authors"] + "</td>";
                        x += "<td>" + data[i]["categories"] + "</td>";
                        x += "<td>" + data[i]["num_pages"] + "</td>";
                        x += "<td>" + data[i]["published_year"] + "</td>";
                        x += "</tr>";

                        // Add x to the inner HTML of the table's body
                        document.getElementById("tbody").innerHTML += x;
                    }
                })();

                /**
                 * Filters the values in the table by toggling the display of objects that don't meet
                 * the filter provided.
                 */
                function search() {
                    // Establish user input, the filter, the table, and get all rows in table
                    var input = document.getElementById('searchInput');
                    var filter = searchInput.value.toUpperCase();
                    var data_table = document.getElementById('books_table');
                    var rows = data_table.getElementsByTagName('tr');

                    // Loop through all rows
                    for(i = 0; i < rows.length; i++) {
                        // Get cells in a row by tag 
                        cells = rows[i].getElementsByTagName('td')[0];
                        // Make sure cell has data
                        if(cells) {
                            // Get cell data
                            cell_content = cells.textContent || cells.innerText;
                            // Match the toUpperCase() from the filter. Searching is NOT case sensitive
                            if(cell_content.toUpperCase().indexOf(filter) > -1) {
                                rows[i].style.display = "";
                            } else {
                                // If the data does not match, set the row display to 'none' and hide it
                                rows[i].style.display = "none";
                            }
                        }
                    }
                }

                /*
                 * Adds click-to-sort functionality to table headers.
                 *
                 * param n : The column of the table that will be sorted. Index starts at 0
                 */
                function sortTable(n) {
                    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                    table = document.getElementById("books_table");
                    switching = true;
                    // Set the sorting direction to ascending:
                    dir = "asc";

                    // Start sorting loop
                    while (switching) {

                        switching = false;
                        rows = table.rows;

                        // Loop through all table rows (except the first, which contains table headers)
                        for (i = 1; i < (rows.length - 1); i++) {

                            // Start by saying there should be no switching:
                            shouldSwitch = false;

                            // Get the two elements you want to compare one from current row and one from the next 
                            x = rows[i].getElementsByTagName("td")[n];
                            y = rows[i + 1].getElementsByTagName("td")[n];

                            // Check if the two rows should switch place
                            if (dir == "asc") {
                                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                    // If so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                }
                            } else if (dir == "desc") {
                                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                    // If so, mark as a switch and break the loop:
                                    shouldSwitch = true;
                                    break;
                                }
                            }
                        }

                        // Mark as switching and change position of row
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                            // Each time a switch is done, increase this count by 1:
                            switchcount ++;
                        } else {
                            // If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again
                            if (switchcount == 0 && dir == "asc") {
                                dir = "desc";
                                switching = true;
                            }
                        }
                    }
                }

                

            </script>
        </tbody>
    </table>

</body>
</html>